@media (prefers-color-scheme: dark) {
    body {
        background: #040404;
        color: #f5efe0;
    }
    body, .entry-title a, :root .has-primary-color {
        color: #f5efe0;
    }
    #site-header {
        background: #000;
    }
    .singular .featured-media::before{
        background-color: #000;
    }
    .singular .entry-header {
        background-color: #000;
    }
    .header-footer-group, body:not(.overlay-header) #site-header .toggle, .menu-modal .toggle {
        color: #fff;
    }
    .search-modal {
        background: rgba(255,255,255,0.2);
    }
    .search-modal-inner {
        background: #000;
    }
    .menu-modal.active {
        background: rgba(255, 255, 255, 0.2);
    }
    .menu-modal-inner {
        background: #000;
    }
    .header-footer-group pre, .header-footer-group fieldset, .header-footer-group input, .header-footer-group textarea, .header-footer-group table, .header-footer-group table *, .footer-nav-widgets-wrapper, #site-footer, .menu-modal nav *, .footer-widgets-outer-wrapper, .footer-top {
        border-color: #70674e;
    }
    body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
        /* default color #cd2653; 
         * if you are using a custom color, update this to reflect your color scheme and appropriate contract for darkened theme.
         * */
        color: #ec7595;
    }
    .color-accent, .color-accent-hover:hover, .color-accent-hover:focus, :root .has-accent-color, .has-drop-cap:not(:focus):first-letter, .wp-block-button.is-style-outline, a {
        /* default color #cd2653; 
         * if you are using a custom color, update this to reflect your color scheme and appropriate contract for darkened theme.
         * */
        color: #ec7595;
    }
    button, .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"] {
        /* default color #cd2653; 
         * if you are using a custom color, update this to reflect your color scheme and appropriate contract for darkened theme.
         * */
        background: #ec7595;
    }
    .site-description, body:not(.overlay-header) .toggle-inner .toggle-text, .widget .post-date, .widget .rss-date, .widget_archive li, .widget_categories li, .widget cite, .widget_pages li, .widget_meta li, .widget_nav_menu li, .powered-by-wordpress, .to-the-top, .singular .entry-header .post-meta, .singular:not(.overlay-header) .entry-header .post-meta a {
        color: #9a9a9a;
    }
    cite, figcaption, .wp-caption-text, .post-meta, .entry-content .wp-block-archives li, .entry-content .wp-block-categories li, .entry-content .wp-block-latest-posts li, .wp-block-latest-comments__comment-date, .wp-block-latest-posts__post-date, .wp-block-embed figcaption, .wp-block-image figcaption, .wp-block-pullquote cite, .comment-metadata, .comment-respond .comment-notes, .comment-respond .logged-in-as, .pagination .dots, .entry-content hr:not(.has-background), hr.styled-separator, :root .has-secondary-color {
        color: #9a9a9a;
    }
    .footer-nav-widgets-wrapper, #site-footer {
        background-color: #000;
    }
}
