<style>
   .categorycloud {
      text-align: center;
   }
   .categorieslist {
      display: inline-block;
      list-style-type: none;
   }
   .categorylist::before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: red; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
}
</style>

<div class="wp-block-group wp-block-group__inner-container thin has-text-align-center aligncenter" align="center">
   <h4>Browse All TechWit Ke Topics</h4>
   <ul class="categorycloud">
{{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
      <li class="categorieslist"><a href="{{.Permalink}}" style="text-transform: capitalize;">{{.Title}}</a></li>
{{end}}
   </ul>
</div>
