<style>
   .categorycloud {
      text-align: center;
   }
   .categorycloud .categorieslist {
      display: inline-block;
      list-style-type: disc;
   }
</style>

<div class="wp-block-group wp-block-group__inner-container thin has-text-align-center aligncenter" align="center">
   <ul class="categorycloud">
{{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
      <li class="categorieslist"><a href="{{.Permalink}}" style="text-transform: capitalize;">{{.Title}}</a></li>
{{end}}
   </ul>
</div>
