<h3 class="has-text-align-center">Featured Posts</h3>
    <div class="wp-block-columns columns alignwide">
        {{ range first 2 .Site.Taxonomies.categories.featured }}
        <div class="column">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full featured-media"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
              <a href="{{ .Permalink }}" style="position:absolute;top:80%;left:50%;transform:translate(-50%, -50%);color:white;"><h3>{{ .Title }}</h3></a>
              
            </div>
          </div>
        </div>
        {{ end }}
      </div>
