<style>
election {
    background: #fffac4;
    color: #111;
    text-shadow: none;
}
::selection {
    background: #fffac4;
    color: #111;
    text-shadow: none;
}
element {
}
.featured-posts {
    margin-bottom: 30px;
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
</style>
<aside class="featured-posts" aria-label="Featured">

    <div id="featured-slider" class="featured-slider slick-initialized slick-slider" style="display: block;"><button type="button" class="slick-prev square slick-arrow" style=""><span class="icon-left-custom" aria-hidden="true"></span><span class="screen-reader-text">Previous</span></button>
    
        
        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 828px;"><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 414px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1">
            
            
            <div class="slide-bg" style="background-image: url(assets/images/posts/2019/1.jpg)"></div>
            
            <div class="slide-content">
                <div class="slide-vertical">
                    <div class="inner">

                        <p class="post-tags">
                            
                            
                            
                            <a href="/tag/photography/" tabindex="-1">
                                Photography
                            </a>
                            
                            
                            
                            <a href="/tag/tips/" tabindex="-1">
                                Tips
                            </a>
                            
                            
                            
                        </p>

                        <h2 class="post-title">
                            <a href="what-is-photography-and-what-it-means-to-me" rel="bookmark" tabindex="-1">
                                What Is Photography and What It Means To Me
                            </a>
                        </h2>

                        <div class="post-meta">
                            
                            
                            by <span class="post-author">
                                <a href="author/daniel/" tabindex="-1">
                                    Daniel Bennett
                                </a>
                                </span>
                            
                            
                            
                            
                            on <time class="published" datetime="2019-01-10">
                                January 10, 2019
                            </time>
                        </div><!-- .post-meta -->

                    </div><!-- .inner -->
                </div><!-- .slide-vertical -->
            </div><!-- .slide-content -->

            <div class="slider-nav">
                <button type="button" class="featured-prev" tabindex="-1"><i class="fa-arrow-left-custom" aria-hidden="true"></i>
                    <span class="screen-reader-text">Previous</span>
                </button>
                <button type="button" class="featured-next" tabindex="-1">
                    <i class="fa-arrow-right-custom" aria-hidden="true"></i>
                    <span class="screen-reader-text">Next</span>
                </button>
            </div>

        </div><div class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" style="width: 414px; position: relative; left: -414px; top: 0px; z-index: 999; opacity: 1;" tabindex="0">
            
            
            <div class="slide-bg" style="background-image: url(assets/images/posts/2019/9.jpeg)"></div>
            
            <div class="slide-content">
                <div class="slide-vertical">
                    <div class="inner">

                        <p class="post-tags">
                            
                            
                            
                            <a href="/tag/design/" tabindex="0">
                                Design
                            </a>
                            
                            
                            
                            <a href="/tag/tips/" tabindex="0">
                                Tips
                            </a>
                            
                            
                            
                        </p>

                        <h2 class="post-title">
                            <a href="modern-graphic-design-directions-and-purpose" rel="bookmark" tabindex="0">
                                Modern Graphic Design - Directions and Purpose
                            </a>
                        </h2>

                        <div class="post-meta">
                            
                            
                            by <span class="post-author">
                                <a href="author/daniel/" tabindex="0">
                                    Daniel Bennett
                                </a>
                                </span>
                            
                            
                            
                            
                            on <time class="published" datetime="2018-11-15">
                                November 15, 2018
                            </time>
                        </div><!-- .post-meta -->

                    </div><!-- .inner -->
                </div><!-- .slide-vertical -->
            </div><!-- .slide-content -->

            <div class="slider-nav">
                <button type="button" class="featured-prev" tabindex="0"><i class="fa-arrow-left-custom" aria-hidden="true"></i>
                    <span class="screen-reader-text">Previous</span>
                </button>
                <button type="button" class="featured-next" tabindex="0">
                    <i class="fa-arrow-right-custom" aria-hidden="true"></i>
                    <span class="screen-reader-text">Next</span>
                </button>
            </div>

        </div></div></div>
        

    
    <button type="button" class="slick-next square slick-arrow" style=""><span class="icon-right-custom" aria-hidden="true"></span><span class="screen-reader-text">Next</span></button></div><!-- .featured-slider -->

</aside>
