<h2 class="has-text-align-center">Featured Posts</h2>
    <div class="alignwide">
        {{ range first 1 .Site.Taxonomies.tags.featured }}
        <div class="column">
          <div class="wp-block">
            <div class="wp-block__inner-container">
              <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
              <a href="{{ .Permalink }}" class="has-text-align-center"><h3>{{ .Title }}</h3></a>
          </div>
        </div>
        {{ end }}
      </div>
