<h2 class="has-text-align-center" id="featured">Featured Articles</h2>
      <div class="wp-block-columns columns alignwide has-text-align-center">
       {{ range first 2 .Site.Taxonomies.tags.featured }}
        <div class="column">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
              <a href="{{ .Permalink }}" style="color:white;"><h3>{{ .Title }}</h3></a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
