<div class="wp-block-group alignwide has-background" style="background-color:#ffffff">
<div class="wp-block-group__inner-container">
<div class="wp-block-group">
<div class="wp-block-group__inner-container">
<h2 class="has-text-align-center">Sign Up To Our Newsletter</h2>
<p class="has-text-align-center">Sign up and stay up to date by receiving quality content such as tips/tricks, news, howto’s, insights, reviews, savings, offers, freebies, ebooks and more right in your inbox. Never miss a thing!</p>

  <div class="aligncenter has-text-align-center">
<form action="https://buttondown.email/api/emails/embed-subscribe/techwitke" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/techwitke', 'popupwindow')" class="aligncenter has-text-aling-center embeddable-buttondown-form" align="center"> 
<label for="bd-email" align="center">Enter your email</label><input type="email" name="email" id="bd-email" align="center">
<input type="hidden" value="1" name="embed" align="center"></input>
<input type="submit" value="Sign Up" align="center"></input>
</form>
  </div>
  
  </div>
</div>
</div>
</div>
