<form width="70px" action="https://buttondown.email/api/emails/embed-subscribe/techwitke" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/techwitke', 'popupwindow')" style="background: rgb(2,0,36);background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(205,38,83,1) 100%);color: white;">
<fieldset>

<!-- Form Name -->
<legend>Sign Up To The TechWit Ke Newsletter</legend>

<p>Get quality content such as tips/tricks, news, howto’s, insights, reviews, savings, offers, freebies, ebooks and more right in your inbox. Never miss a thing!</p>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Your Email Address</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" for="bd-email" placeholder="e.g johndoe@gmail.com" class="form-control input-md" required="">
  <input type="hidden" value="1" name="embed" align="center"></input>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button class="is-style-outline" id="submit" name="submit">I'm in!</button>
  </div>
</div>

</fieldset>
</form>
