<div class="wp-block-group alignwide has-background" style="background: rgb(2,0,36);background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(205,38,83,1) 100%);color: white;">
        <div class="wp-block-group__inner-container">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <h2 class="has-text-align-center">{{ .title | markdownify }}</h2>
              <p class="has-text-align-center">{{ .content | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
