<form action="https://buttondown.email/api/emails/embed-subscribe/techwitke" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/techwitke', 'popupwindow')" class="embeddable-buttondown-form">
<fieldset>

<!-- Form Name -->
<legend>Sign Up To The TechWit Ke Newsletter</legend>

<p></p>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Your Email Address</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" for="bd-email" placeholder="e.g johndoe@gmail.com" class="form-control input-md" required="">
  <input type="hidden" value="1" name="embed" align="center"></input>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit">I'm in!</button>
  </div>
</div>

</fieldset>
</form>
