<div class="wp-block-group alignwide alignfull has-background" style="background: rgb(205,38,83);background: linear-gradient(188deg, rgba(205,38,83,1) 0%, rgba(0,0,0,1) 100%);color: white;width:100%;">
        <div class="wp-block-group__inner-container">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
                    <em><h4>Dont Miss</h4></em>
                    {{ range first 3 .Site.Taxonomies.tags.featured }}
                    <em><p class="has-text-align-center"><a href="{{ .Permalink }}" style="color:purple;">{{ .Title }}</a></p></em>
                    {{ end }}
            </div>
          </div>
        </div>
      </div>
