 <style>
 .postcolumn {
  float: left;
  width: 33.33%;
  border-spacing: 10px 1rem;
  padding:0 15px;
}
.postrow:after {
  content: "";
  display: table;
  clear: both;
 border-spacing: 5px 1rem;
 padding:0 15px;
}
@media screen and (max-width: 600px) {
  .postcolumn {
    width: 100%;
  }
  }

 </style>
 
 <div class="has-text-align-center aligncenter postrow alignfull alignwide is-size-full" align="center">
 
    <div class="postcolumn">
     <h3>Featured</h3>
    {{ range first 2 .Site.Taxonomies.tags.featured }}
     <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
    <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
     {{ end }}
     </div>
  
    <div class="postcolumn" style="background-color:white;color:black;">
     <mark><h3>Latest News</h3></mark>
     <ul>
    {{ range first 2 (where .Site.RegularPages "Section" "blog")}}
    <li>
    <a href="{{ .Permalink }}">{{ Content | truncate 100 }}</a>
    <span class="meta-wrapper meta-text post-date">Published on {{ .PublishDate.Format "02 Jan 06 15:04 MST" .Date.EAT }}</span>
    </li>
     {{ end }}
     </ul>
     <div class="wp-block-button aligncenter"><a class="wp-block-button__link" href="blog">More News </a></div>
     </div>
     
    <div class="postcolumn">
     <h3>Must Visit</h3>
    {{ range first 2 .Site.Taxonomies.tags.visit }}
     <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
    <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
     {{ end }}
     </div>
 
</div> 
