 <style>
 .postcolumn {
  float: left;
  width: 50%;
  border-spacing: 20px 1rem;
  padding:0 15px;
}
.postrow:after {
  content: "";
  display: table;
  clear: both;
 border-spacing: 5px 1rem;
 padding:0 15px;
 align: center;
}
@media screen and (max-width: 600px) {
  .postcolumn {
    width: 100%;
  }
  }
 </style>
 
 <div class="postrow alignfull alignwide is-size-full">
 
    <div class="postcolumn" align="left">
     <h3>Related Articles</h3>
     {{ $related := .Site.RegularPages.Related . }}
     {{ range first 2 $related }}
    <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
     {{ end }}
     </div>
  
    <div class="postcolumn" align="right">
     <h3>Other Articles</h3>
    {{ range first 2 (where .Site.RegularPages "Section" "blog")}}
    <a href="{{ .RelPermalink }}"><h4>{{ .Title }}</h4></a>
     {{ end }}
     </div>
  
</div> 
