<style>
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline-block;
}

ul.share-buttons .sr-only{
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
</style>

<ul class="share-buttons" data-source="simplesharingbuttons.com">
  <li>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&quote={{ .Title }}%20-%20{{ .Site.Title }}" title="Share on Facebook" target="_blank">
  <img alt="Share on Facebook" src="/images/flat_web_icon_set/color/Facebook.png" />
  </a>
  </li>
  
  <li>
  <a href="https://twitter.com/intent/tweet/?text={{ .Title }}%0D%0A{{.Summary}}&amp;url={{ .Permalink }}&via={{ .Params.twitter }}" target="_blank" title="Tweet">
  <img alt="Tweet" src="/images/flat_web_icon_set/color/Twitter.png" />
  </a>
  </li>
  
  <li>
  <a href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title={{ .Title }}&amp;caption={{ .Description }}&amp;content={{ .Summary }}%0D%0AWritten%20by%20{{ .Params.Author }}&amp;canonicalUrl={{ .Permalink }}&amp;shareSource=tumblr_share_button" target="_blank" title="Post to Tumblr">
  <img alt="Post to Tumblr" src="/images/flat_web_icon_set/color/Tumblr.png" />
  </a>
  </li>
  
  <li>
  <a href="https://pinterest.com/pin/create/button/?url={{.Permalink}}&amp;media={{ .Params.Image | absURL }}?width=1080&height=600&amp;description={{.Description}}" target="_blank" title="Pin it">
  <img alt="Pin it" src="/images/flat_web_icon_set/color/Pinterest.png" />
  </a>
  </li>
  
  <li>
  <a href="https://getpocket.com/save?url={{ .Permalink }}&title={{ .Title }}%20-%20{{ .Site.Title }}" target="_blank" title="Add to Pocket">
  <img alt="Add to Pocket" src="/images/flat_web_icon_set/color/Pocket.png" />
  </a>
  </li>
  
  <li>
  <a href="http://www.reddit.com/submit?url={{ .Permalink }}}&title={{ .Title }}%20-%20{{ .Site.Title }}" target="_blank" title="Submit to Reddit">
  <img alt="Submit to Reddit" src="/images/flat_web_icon_set/color/Reddit.png" />
  </a>
  </li>
  
  <li>
  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{.Permalink}}&amp;title={{.Title}}&amp;summary={{.Summary}}&amp;source={{.Permalink}}" target="_blank" title="Share on LinkedIn">
  <img alt="Share on LinkedIn" src="/images/flat_web_icon_set/color/LinkedIn.png" />
  </a>
  </li>
  
  <li>
  <a href="http://wordpress.com/press-this.php?u={{ .Permalink }}&quote={{ .Title }}%20-%20{{ .Site.Title }}&s={{ .Summary }}&i={{ .Params.Image | absURL }}?width=1080&height=600" target="_blank" title="Publish on WordPress">
  <img alt="Publish on WordPress" src="/images/flat_web_icon_set/color/Wordpress.png" />
  </a>
  </li>
  
  <li>
  <a href="https://pinboard.in/popup_login/?url={{ .Permalink }}&title={{ .Title }}&description={{ .Summary }}" target="_blank" title="Save to Pinboard">
  <img alt="Save to Pinboard" src="/images/flat_web_icon_set/color/Pinboard.png" />
  </a>
  </li>
  
  <li>
  <a href="mailto:?subject={{.Title}}%20%3A%20{{.Permalink}}&amp;body={{.Summary}}%0D%0AWritten%20by%20{{.Params.Author}}%0D%0ARead More%3A%20{{.Permalink}}" target="_blank" title="Send email">
  <img alt="Send email" src="/images/flat_web_icon_set/color/Email.png" />
  </a>
  </li>
</ul>
