 <style>
 .postcolumn {
  float: left;
  width: 33.33%;
  border-spacing: 5px 1rem;
  padding:0 15px;
}
.postrow:after {
  content: "";
  display: table;
  clear: both;
 border-spacing: 5px 1rem;
 padding:0 15px;
}
@media screen and (max-width: 600px) {
  .postcolumn {
    width: 100%;
  }
}
 </style>
 
 <div class="has-text-align-center aligncenter postrow alignfull alignwide is-size-full" align="center">
 
    <div class="postcolumn">
     <h3>Business</h3>
    {{ range first 2 .Site.Taxonomies.tags.featured }}
     <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
    <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
     {{ end }}
     </div>
 
    <div class="postcolumn">
     <h3>Tech</h3>
    {{ range first 2 .Site.Taxonomies.tags.tour }}
     <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
    <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
     {{ end }}
     </div>
     
    <div class="postcolumn">
     <h3>Science</h3>
    {{ range first 2 .Site.Taxonomies.tags.visit }}
     <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
    <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
     {{ end }}
     </div>
     
</div> 
