{{ define "main" }}

<article class="page type-page status-publish hentry">
	
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Params.name }}</h1>
		</div>
	</header>

    <figure class="featured-media">
    <div class="featured-media-inner section-inner medium">
      <img height="360" src="{{ .Params.photo }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ .Params.name }}" sizes="(max-width: 560px) 100vw, 560px">
    </div><!-- .featured-media-inner -->
  </figure><!-- .featured-media -->
    
    
<div class="post-inner thin has-text-align-center">
		<div class="entry-content">
			{{ .Content }}
            {{ with .Params.twitter }}<p><a href="https://twitter.com/{{ substr . 1 }}">Follow {{ $.Params.name }} on Twitter</a></p>{{ end }}
		</div>
	</div>


<h2>Articles by {{ .Params.name }}</h2>
{{ range .Data.Pages }}
	<div class="wp-block-columns columns alignwide">
        <div class="column">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <a href="{{ .Permalink }}"><figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}" alt="{{.Title }}" class="wp-image-37" /></figure></a>
              <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
              <p>{{ .PublishDate.Format "Monday, January 6, 2006"}}</p>
              <div class="wp-block-button is-style-outline"><a class="wp-block-button__link"
                  href="{{ .Permalink }}">Read This Article</a></div>
            </div>
          </div>
        </div>
      </div>
{{ end }}

</article>

{{ end }}
