{{ define "main" }}
<article class="page type-page status-publish hentry">
	
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">Authors</h1>
		</div>
	</header>
  
      <figure class="featured-media">
    <div class="featured-media-inner section-inner medium">
      <img src="/images/publish.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ .Title }}" sizes="(max-width: 1200px) 100vw, 1200px">
    </div><!-- .featured-media-inner -->
  </figure><!-- .featured-media -->

  <p class="has-text-align-center aligncenter" align="center">Meet the awesome people working and writing here at TechWit Ke</p>
  
<ul>
	<li>
<div class="has-text-align-center aligncenter" align="center">
        {{ range .Data.Pages }}
              <p>{{ .Params.position }}: <a href="{{ .Permalink }}">{{ .Params.name }}</a></p>   
        {{ end }}
      </div>
	</li>
</ul>

	
</article>	
{{ end }}
